:root {
    --font-base: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    --font-mono: "Menlo","Lucida Console",monospace;
    --color-background-rgb: 255,255,255;
    --color-background: rgb(var(--color-background-rgb));
    --color-background-transparent: rgba(var(--color-background-rgb),0);
    --color-background-alt: #f2f5f8;
    --color-background-gradient: #f1f2f3;
    --color-background-gradient-transparent: hsla(210,8%,95%,0);
    --color-background-gradient-alt: #f0f4f8;
    --color-background-gradient-alt-transparent: rgba(240,244,248,0);
    --color-background-alt-dark: #fff;
    --color-focus: #684a48;
    --border-radius: 0.75rem;
    --color-line-dim: #eef0f4;
    --color-line: #dee0e6;
    --color-line-dark: #ced1d8;
    --focus-brand-blur: -0.125rem -0.125rem 1rem rgba(239,71,101,0.5),0.125rem 0.125rem 1rem rgba(255,154,90,0.5);
    --field-shadow: 0 0 0 0.125rem rgba(0,0,0,0.15);
    --field-focus-shadow: var(--field-shadow),var(--focus-brand-blur);
    --button-shadow: 0 0 0.25rem hsla(0,0%,100%,0.5);
    --button-shadow-dark: 0 0 0.25rem rgba(0,0,0,0.5);
    --button-focus-shadow: var(--button-shadow),var(--focus-brand-blur);
    --color-quote: rgba(0,44,88,0.1);
    --color-testimonial-title: #868990;
    --color-testimonial-background: #f2f5f8;
    --color-code-inline-background: #f1f3f6;
    --color-code-block-background: #fff;
    --color-code-highlight: #67a5f4;
    --color-code-scrollbar: #d1d5dc;
    --color-code-run: #1b1b1c;
    --color-code-comment: #9398a2;
    --code-block-border: #e4e8ec;
    --color-text: #030303;
    --color-text-dim: #70737b;
    --color-text-dim-extra: #b2b7c6;
    --color-text-dark: #383a3f;
    --color-text-fill: #f1f3f6;
    --color-text-link: 83 152 243;
    --color-text-link-landing: 83 86 92;
    --color-text-link-primary: 239 71 101;
    --color-primary: #ef4765;
    --color-secondary: #ff9a5a;
    --color-button-text: #54565c;
    --color-button-background: #ebecef;
    --color-button-disabled-text: #a8aab3;
    --color-button-disabled-background: #f0f1f5;
    --color-brand-gradient: linear-gradient(to bottom right,var(--color-primary),var(--color-secondary));
    --color-brand-gradient-right: linear-gradient(to right,var(--color-primary),var(--color-secondary));
    --color-brand-gradient-dim: linear-gradient(to bottom right,#fff2f5,#fff6f1);
    --color-brand-gradient-dark: linear-gradient(to bottom right,#fff2f5,#fff6f1);
    --color-brand-gradient-right-dim: linear-gradient(90deg,#fff2f5,#fff6f1);
    --color-page-separator: rgba(0,0,0,0.1);
    --pintura-border-radius: 0.325rem;
    --pintura-shadow: none;
    --pintura-outline: rgba(0,0,0,0.1);
    --pintura-color-background: 255,255,255;
    --pintura-color-foreground: 0,0,0;
    --pintura-thumb-filter: grayscale(100%) contrast(30%) brightness(150%);
    --color-tab-outline: rgba(0,0,0,0.1);
    --color-tab-background: #fff;
    --color-tab-text: #777980;
    --color-tab-active-background: #ebecef;
    --color-tab-active-text: var(--color-text);
    --image-filter: invert(19%) sepia(9%) saturate(481%) hue-rotate(185deg) brightness(98%) contrast(88%);
    --page-header-color-rgb: 255,255,255;
    --page-header-color: var(--color-background);
    --page-header-height: 4rem;
    --page-padding: 2rem;
    --page-vertical-separator-color: #ebecef;
    --h-anchor-color: #b3b6bc;
    --h-anchor-background: #f1f3f6;
    --table-outline-color: #ebecef;
    --table-header-cell-color: #ebecef;
    --table-cell-outline-color: #36383b;
    --table-cell-fill-color: #4c4e53;
    --shadow-float: 0 0.25rem 1rem -0.5rem #2d2f31;
    --snippets-tab-offset: 0;
    --snippets-tab-background: transparent;
    --snippets-tab-text: #777980;
    --snippets-tab-active-background: #fff;
    --snippets-tab-active-text: #4f5158;
    --snippets-tab-active-outline: #c8cdd7;
    --snippet-outline: #f2f5f8;
    --project-active-background: #f2f5f8;
    --line-number-display: block;
    --line-number-width: 2.75rem;
    --line-number-padding: 3.25rem;
    --line-number-spacing: 2rem;
    --line-number-border-offset: 0.75rem;
    --line-number-color: #b5c5d5;
    --line-number-border-color: #f2f5f8;
    --code-scrollbar-background: #ebecef;
    --color-code-scrollbar: #9398a2;
    --feature-picture-overlay: #f5f0f3;
    --feature-picture-underlay: #ced1d8;
    --feature-picture-outline: #23162f;
    --feature-picture-highlight: #6b707c;
    --demo-overlay-outline: rgba(0,0,0,0.1);
    --demo-overlay-shadow: 0 0.0625em 0.0625em rgba(0,0,0,0.25),0 0.125em 0.5em rgba(0,0,0,0.25);
    --demo-overlay-edit-image-color: #fff;
    --demo-overlay-edit-image-background: #231530;
    --tier-border-color: #ebecef;
    --tier-important-border-color: #ffd6cf;
    --editor-border-color: #dadee6;
    --editor-dot-color: #d6dae2;
    --editor-project-folder-color: #d6dae2;
    --editor-project-active-background-color: #e2e6ec;
    --editor-project-active-folder-color: #7e8189;
    --modal-background-color: #fff;
    --modal-spinner-color: #cecfd1;
    --color-matrix-mixer-main-color: #333;
    --nav-scrollbar-background: #ebecef;
    --nav-scrollbar-foreground: #b2b7c6
}

@media (max-width: 32em) {
    :root {
        --page-padding:1em
    }
}

@media (color-index: 48) {
    :root {
        --page-header-color-rgb:28,28,28;
        --page-header-color: rgb(var(--page-header-color-rgb));
        --page-vertical-separator-color: #4b4b4e;
        --h-anchor-color: #b3b6bc;
        --h-anchor-background: #4b4b4e;
        --color-background-rgb: 42,43,45;
        --color-background: rgb(var(--color-background-rgb));
        --color-background-transparent: rgba(var(--color-background-rgb),0);
        --color-background-alt: #1b1b1c;
        --color-background-alt-dark: #0f0f10;
        --color-background-gradient: #46464c;
        --color-background-gradient-transparent: rgba(70,70,76,0);
        --color-background-gradient-alt: #1c1c1c;
        --color-background-gradient-alt-transparent: rgba(28,28,28,0);
        --color-brand-gradient-dim: linear-gradient(to bottom right,#2f282b,#302b2a);
        --color-brand-gradient-dark: linear-gradient(to bottom right,#201b1d,#1e1b1a);
        --color-brand-gradient-right-dim: linear-gradient(90deg,#2f282b,#302b2a);
        --color-text: #d2d4d8;
        --color-text-dark: #f0f1f4;
        --color-text-dim: #b6b7bd;
        --color-text-dim-extra: #6a6c72;
        --color-text-link: 123 175 243;
        --color-text-link-landing: 210 212 216;
        --field-focus-shadow: 0 0 0.25rem rgba(0,0,0,0.5),var(--focus-brand-blur);
        --button-focus-shadow: 0 0 0.25rem rgba(0,0,0,0.5),var(--focus-brand-blur);
        --line-number-color: #707985;
        --line-number-border-color: #1c1c1c;
        --code-scrollbar-background: var(--color-background);
        --color-code-scrollbar: #707985;
        --color-button-text: #e3e3e8;
        --color-button-background: #44444a;
        --color-button-disabled-text: #909198;
        --color-button-disabled-background: #343439;
        --color-line: hsla(0,0%,100%,0.1);
        --color-line-dim: #3c3c3e;
        --color-line: #3c3c3e;
        --color-line-dark: #4b4b4e;
        --color-quote: hsla(0,0%,100%,0.05);
        --color-testimonial-background: #1b1b1c;
        --color-testimonial-title: #a5a7ad;
        --color-code-inline-text: #b7b7c0;
        --color-code-inline-background: #1b1b1c;
        --color-code-block-background: #1b1b1c;
        --color-code-scroll-background: #222;
        --color-code-run: #f6c73c;
        --code-block-border: transparent;
        --color-code-comment: #707985;
        --color-code-highlight: #707075;
        --table-outline-color: #4c4e53;
        --table-header-cell-color: #4c4e53;
        --table-cell-outline-color: #36383b;
        --table-cell-fill-color: #4c4e53;
        --color-tab-text: #aeafb5;
        --color-tab-outline: hsla(0,0%,100%,0.1);
        --color-tab-background: rgba(0,0,0,0.1);
        --color-tab-active-background: hsla(0,0%,100%,0.1);
        --image-filter: invert(85%) sepia(9%) saturate(135%) hue-rotate(194deg) brightness(87%) contrast(86%);
        --pintura-shadow: 0 0.0625em 0.0625em rgba(0,0,0,0.25),0 0.125em 0.5em rgba(0,0,0,0.25);
        --pintura-outline: hsla(0,0%,100%,0.075);
        --pintura-color-background: 30,30,30;
        --pintura-color-foreground: 255,255,255;
        --pintura-thumb-filter: grayscale(100%) brightness(70%) contrast(70%);
        --shadow-float: 0 0.25rem 1rem -0.5rem #1c1c1c;
        --snippets-tab-text: #717881;
        --snippets-tab-offset: 0;
        --snippets-tab-background: transparent;
        --snippets-tab-active-text: #fff;
        --snippets-tab-active-background: var(--color-background-alt-dark);
        --snippets-tab-active-outline: #565960;
        --snippet-outline: var(--color-background);
        --project-active-outline: #c8cdd7;
        --project-active-background: #1c1c1c;
        --editor-border-color: #3c3c41;
        --editor-dot-color: #3c3c41;
        --editor-project-folder-color: #3c3c41;
        --editor-project-active-background-color: #2d2d31;
        --editor-project-active-folder-color: #78787d;
        --feature-picture-underlay: #4b4b4e;
        --feature-picture-outline: var(--feature-picture-overlay);
        --feature-picture-highlight: #9c9ca1;
        --demo-overlay-outline: hsla(0,0%,100%,0.1);
        --tier-border-color: #363638;
        --tier-important-border-color: #533833;
        --modal-background-color: #44444a;
        --modal-spinner-color: #7e8189;
        --color-matrix-mixer-main-color: #333;
        --nav-scrollbar-background: #1b1b1c;
        --nav-scrollbar-foreground: #6a6c72;
        /* color-scheme: dark */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-header-color-rgb:28,28,28;
        --page-header-color: rgb(var(--page-header-color-rgb));
        --page-vertical-separator-color: #4b4b4e;
        --h-anchor-color: #b3b6bc;
        --h-anchor-background: #4b4b4e;
        --color-background-rgb: 42,43,45;
        --color-background: rgb(var(--color-background-rgb));
        --color-background-transparent: rgba(var(--color-background-rgb),0);
        --color-background-alt: #1b1b1c;
        --color-background-alt-dark: #0f0f10;
        --color-background-gradient: #46464c;
        --color-background-gradient-transparent: rgba(70,70,76,0);
        --color-background-gradient-alt: #1c1c1c;
        --color-background-gradient-alt-transparent: rgba(28,28,28,0);
        --color-brand-gradient-dim: linear-gradient(to bottom right,#2f282b,#302b2a);
        --color-brand-gradient-dark: linear-gradient(to bottom right,#201b1d,#1e1b1a);
        --color-brand-gradient-right-dim: linear-gradient(90deg,#2f282b,#302b2a);
        --color-text: black;
        --color-text-dark: #f0f1f4;
        --color-text-dim: #b6b7bd;
        --color-text-dim-extra: #6a6c72;
        --color-text-link: 123 175 243;
        --color-text-link-landing: 210 212 216;
        --field-focus-shadow: 0 0 0.25rem rgba(0,0,0,0.5),var(--focus-brand-blur);
        --button-focus-shadow: 0 0 0.25rem rgba(0,0,0,0.5),var(--focus-brand-blur);
        --line-number-color: #707985;
        --line-number-border-color: #1c1c1c;
        --code-scrollbar-background: var(--color-background);
        --color-code-scrollbar: #707985;
        --color-button-text: #e3e3e8;
        --color-button-background: #44444a;
        --color-button-disabled-text: #909198;
        --color-button-disabled-background: #343439;
        --color-line: hsla(0,0%,100%,0.1);
        --color-line-dim: #3c3c3e;
        --color-line: #3c3c3e;
        --color-line-dark: #4b4b4e;
        --color-quote: hsla(0,0%,100%,0.05);
        --color-testimonial-background: #1b1b1c;
        --color-testimonial-title: #a5a7ad;
        --color-code-inline-text: #b7b7c0;
        --color-code-inline-background: #1b1b1c;
        --color-code-block-background: #1b1b1c;
        --color-code-scroll-background: #222;
        --color-code-run: #f6c73c;
        --code-block-border: transparent;
        --color-code-comment: #707985;
        --color-code-highlight: #707075;
        --table-outline-color: #4c4e53;
        --table-header-cell-color: #4c4e53;
        --table-cell-outline-color: #36383b;
        --table-cell-fill-color: #4c4e53;
        --color-tab-text: #aeafb5;
        --color-tab-outline: hsla(0,0%,100%,0.1);
        --color-tab-background: rgba(0,0,0,0.1);
        --color-tab-active-background: hsla(0,0%,100%,0.1);
        --image-filter: invert(85%) sepia(9%) saturate(135%) hue-rotate(194deg) brightness(87%) contrast(86%);
        --pintura-shadow: 0 0.0625em 0.0625em rgba(0,0,0,0.25),0 0.125em 0.5em rgba(0,0,0,0.25);
        --pintura-outline: hsla(0,0%,100%,0.075);
        --pintura-color-background: 30,30,30;
        --pintura-color-foreground: 255,255,255;
        --pintura-thumb-filter: grayscale(100%) brightness(70%) contrast(70%);
        --shadow-float: 0 0.25rem 1rem -0.5rem #1c1c1c;
        --snippets-tab-text: #717881;
        --snippets-tab-offset: 0;
        --snippets-tab-background: transparent;
        --snippets-tab-active-text: #fff;
        --snippets-tab-active-background: var(--color-background-alt-dark);
        --snippets-tab-active-outline: #565960;
        --snippet-outline: var(--color-background);
        --project-active-outline: #c8cdd7;
        --project-active-background: #1c1c1c;
        --editor-border-color: #3c3c41;
        --editor-dot-color: #3c3c41;
        --editor-project-folder-color: #3c3c41;
        --editor-project-active-background-color: #2d2d31;
        --editor-project-active-folder-color: #78787d;
        --feature-picture-underlay: #4b4b4e;
        --feature-picture-outline: var(--feature-picture-overlay);
        --feature-picture-highlight: #9c9ca1;
        --demo-overlay-outline: hsla(0,0%,100%,0.1);
        --tier-border-color: #363638;
        --tier-important-border-color: #533833;
        --modal-background-color: #44444a;
        --modal-spinner-color: #7e8189;
        --color-matrix-mixer-main-color: #333;
        --nav-scrollbar-background: #1b1b1c;
        --nav-scrollbar-foreground: #6a6c72;
        /* color-scheme: dark */
    }
}

.important {
    background-clip: padding-box,border-box;
    background-image: linear-gradient(to bottom right,#fff2f5,#fff6f1),linear-gradient(to bottom right,#ef4765,#ff9a5a);
    background-image: var(--color-brand-gradient-dim),var(--color-brand-gradient);
    background-origin: border-box;
    border: 1px double transparent;
    border-radius: .75rem;
    border-radius: var(--border-radius);
    padding: 1rem;
    position: relative
}

.important>* {
    font-size: .875em
}

.important>:first-child {
    margin-top: 0
}

.important>:last-child {
    margin-bottom: 0
}

.important-dark {
    background-image: linear-gradient(to bottom right,#fff2f5,#fff6f1),linear-gradient(to bottom right,#ef4765,#ff9a5a);
    background-image: var(--color-brand-gradient-dark),var(--color-brand-gradient)
}

table .important {
    background-image: linear-gradient(90deg,#fff2f5,#fff6f1),linear-gradient(90deg,#ef4765,#ff9a5a);
    background-image: var(--color-brand-gradient-right-dim),var(--color-brand-gradient-right)
}

html {
    -webkit-text-size-adjust: 100%;
    scrollbar-gutter: stable;
    background: #fff;
    background: var(--color-background);
    color: #53565c;
    color: var(--color-text);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-family: var(--font-base);
    font-weight: 400;
    line-height: 1.5;
    scroll-padding: 5rem
}

body,html {
    margin: 0;
    padding: 0
}

body {
    overflow-x: hidden
}

main {
    background: radial-gradient(ellipse,#fff,transparent),linear-gradient(180deg,#f0f4f8,#fff);
    background: radial-gradient(ellipse,var(--color-background),transparent),linear-gradient(to bottom,var(--color-background-gradient-alt),var(--color-background));
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 5rem;
    position: relative
}

button,input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a,button,textarea {
    color: inherit
}

h1,h2,h3 {
    color: #383a3f;
    color: var(--color-text-dark);
    margin: 1rem 0
}

h1,h2,h3 {
    line-height: 1.25
}

h3 {
    font-weight: 700
}

h1 {
    font-size: 2em;
    margin-bottom: 2rem
}

h2 {
    font-size: 1.5em
}

h3 {
    font-size: 1.25em
}

a,a>* {
    --underline-opacity: 0.3;
    color: #5398f3;
    color: rgb(var(--color-text-link));
    -webkit-text-decoration-color: rgb(83 152 243/var(--underline-opacity));
    text-decoration-color: rgb(83 152 243/var(--underline-opacity));
    -webkit-text-decoration-color: rgb(var(--color-text-link)/var(--underline-opacity));
    text-decoration-color: rgb(var(--color-text-link)/var(--underline-opacity));
    transition: -webkit-text-decoration-color .15s;
    transition: text-decoration-color .15s;
    transition: text-decoration-color .15s,-webkit-text-decoration-color .15s
}

a:hover,a>:hover {
    --underline-opacity: 0.7
}

.page-landing .heading h2,.page-landing h1 {
    font-size: 2em
}

.page-landing h3 {
    font-size: 1.25em
}

.page-landing a,.page-landing a>* {
    --color-text-link: var(--color-text-link-landing)
}

.page-landing p>a:not(.button) {
    font-weight: 600
}

.gradient-text-primary {
    -webkit-text-fill-color: transparent;
    --color-text-link: var(--color-text-link-primary)!important;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom right,#ef4765,#ff9a5a);
    background-image: var(--color-brand-gradient)
}

.implicit {
    clip: rect(1px,1px,1px,1px);
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.content-cta h2,.content-cta h3,.content-cta strong {
    display: block;
    font-family: var(--font);
    font-size: 2em;
    font-weight: 700;
    margin-bottom: .75rem;
    margin-top: -.5rem
}

.content-cta h2+.nav-bar,.content-cta h3+.nav-bar,.content-cta strong+.nav-bar {
    margin-top: 2rem
}

.content-cta p {
    color: #70737b;
    color: var(--color-text-dim);
    margin-top: 0;
    max-width: 36rem
}

.content-cta-centered {
    text-align: center
}

.content-cta-centered p {
    margin-left: auto;
    margin-right: auto
}

.text-leading-none {
    line-height: .75
}

.content-hr {
    background: linear-gradient(90deg,#fff,#eef0f4 35%,#eef0f4 65%,#fff);
    background: linear-gradient(to right,var(--color-background),var(--color-line-dim) 35%,var(--color-line-dim) 65%,var(--color-background));
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 80% 1px;
    height: 1px
}

.content-border-top {
    background: linear-gradient(90deg,#eef0f4,#fff 25%,#fff 75%,#eef0f4);
    background: linear-gradient(to right,var(--color-line-dim),var(--color-background) 25%,var(--color-background) 75%,var(--color-line-dim));
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 1px
}

.content-intro {
    color: #70737b;
    color: var(--color-text-dim);
    font-size: 1.125em;
    margin-top: 0;
    max-width: 36rem
}

.content-intro p {
    margin-top: 0
}

.content-intro strong {
    color: #53565c;
    color: var(--color-text);
    font-weight: 500
}

.content-about h3 {
    margin: 0
}

.content-about h3+p {
    margin-top: .5rem
}

.content-about p {
    color: #70737b;
    color: var(--color-text-dim)
}

.content-about strong {
    color: #53565c;
    color: var(--color-text);
    font-weight: 500
}

.content-about>:last-child {
    margin-bottom: 0
}

.list-default ul {
    list-style-type: none;
    padding-left: 0
}

.list-default li+li {
    margin-top: .5rem
}

.list-default {
    font-weight: 600
}

.list-none {
    list-style: none;
    padding: 0
}

.list-check {
    list-style: none;
    padding-left: 2rem
}

.list-check li {
    align-items: baseline;
    box-sizing: border-box;
    display: flex;
    margin: 1rem 0
}

.list-check li:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><linearGradient id="g" x1="0" y1="0" x2="24" y2="24" gradientUnits="userSpaceOnUse"><stop offset="25%" stop-color="%23ef4765" /><stop offset="85%" stop-color="%23ff9a5a" /></linearGradient></defs><polyline points="20 6 9 17 4 12" fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke="url(%23g)"></polyline></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    display: block;
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: -2rem;
    margin-right: 1rem;
    position: relative;
    top: .25rem;
    width: 1.25rem
}

.list-check-free {
    padding-left: 1rem
}

ul.list-split {
    margin-left: -1rem;
    margin-right: -1rem
}

ul.list-split li {
    margin: 1rem
}

@media (max-width: 49.9375em) {
    ul.list-split-centered {
        margin-left:auto;
        margin-right: auto;
        max-width: 16rem;
        text-align: center
    }
}

@media (min-width: 50em) {
    ul.list-split {
        display:flex;
        padding: 0 1rem
    }

    ul.list-split li {
        flex: 1;
        margin: 0 1rem
    }

    ul.list-split li>.important {
        box-sizing: border-box;
        height: 100%
    }
}

.content-head-icon {
    padding-left: 3.5rem
}

.content-head-icon>svg {
    color: #ef4765;
    color: var(--color-primary);
    height: 1.5rem;
    left: 1rem;
    margin-right: 1rem;
    position: absolute;
    top: 1rem;
    width: 1.5rem
}

.content-block-center {
    margin-left: auto;
    margin-right: auto
}

.content-line {
    align-items: center;
    display: flex
}

.content-line>* {
    margin-bottom: 0;
    margin-top: 0
}

.content-limit,.content-limit-wide {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
}

.content-limit-narrow {
    max-width: 30rem
}

.content-limit-wide {
    max-width: 70rem
}

.content-narrow {
    max-width: 28rem
}

.content-small {
    max-width: 34rem
}

.content-medium {
    max-width: 40rem
}

.content-cols,.content-cols>* {
    margin-top: 1rem
}

.content-split>*+* {
    margin-top: 2rem
}

@media (min-width: 50em) {
    .content-split-centered {
        margin-left:auto;
        margin-right: auto
    }

    .content-split-title {
        text-align: center
    }

    .content-cols {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem
    }

    .content-cols>* {
        margin: 1rem;
        width: calc(50% - 2rem)
    }

    .content-split {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        margin-left: -1rem;
        margin-right: -1rem
    }

    .content-split>* {
        flex: 1;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0;
        max-width: 28rem
    }

    .content-split-centered {
        text-align: center
    }

    .content-split-baseline {
        align-items: baseline
    }

    .content-split-narrow>* {
        max-width: 20rem
    }

    .content-split-flip {
        flex-direction: row-reverse
    }

    .content-split-gravitate {
        align-items: center;
        justify-content: flex-start
    }

    .content-split-gravitate>:first-child,.content-split-gravitate>:last-child {
        margin-left: 2rem;
        margin-right: 2rem
    }

    .content-split-flip.content-split-gravitate {
        justify-content: flex-end
    }
}

@media (min-width: 60rem) {
    .content-split-gravitate:not(.content-split-flip)>:last-child {
        margin-right:-2rem
    }

    .content-split-flip.content-split-gravitate>:last-child {
        margin-left: -2rem
    }
}

.content-description h3 {
    text-transform: uppercase
}

.margin-v {
    margin-top: 4rem
}

.margin-bottom,.margin-v {
    margin-bottom: 4rem
}

.padding-v {
    padding-bottom: 4rem
}

.padding-top,.padding-v {
    padding-top: 4rem
}

.padding-bottom {
    padding-bottom: 4rem
}

.margin-top-none {
    margin-top: 0
}

.margin-top {
    margin-top: 4rem
}

.margin-top-small {
    margin-top: 2rem
}

.margin-bottom-small {
    margin-bottom: 2rem
}

.margin-top-big {
    margin-top: 6rem
}

.content-centered {
    display: flex;
    justify-content: center
}

.content-pull-down {
    margin-top: 6rem
}

.text-bold {
    font-weight: 500
}

.text-centered {
    text-align: center
}

.text-dim {
    color: #70737b;
    color: var(--color-text-dim)
}

.text-dim-extra {
    color: #b2b7c6;
    color: var(--color-text-dim-extra)
}

.text-extra-small {
    font-size: .75em
}

.text-small {
    font-size: .875em
}

.text-big {
    font-size: 1.125em;
    font-weight: 700
}

@media (max-width: 31.9375em) {
    .demo-test-indicator {
        justify-content:center
    }

    .demo-test-indicator img,.demo-test-indicator svg {
        display: none
    }
}

@media (min-width: 50em) {
    .content-line {
        background:linear-gradient(90deg,#eef0f4,#fff 25%,#fff 75%,#eef0f4);
        background: linear-gradient(to right,var(--color-line-dim),var(--color-background) 25%,var(--color-background) 75%,var(--color-line-dim));
        background-position: 0 6.25rem;
        background-repeat: no-repeat;
        background-size: 100% 1px
    }
}

:root {
    --background-gradient-height: 12rem
}

.gradient-bottom {
    background-image: radial-gradient(ellipse at top,#fff,hsla(0,0%,100%,0) 70%),linear-gradient(0deg,#f0f4f8,hsla(0,0%,100%,0));
    background-image: radial-gradient(ellipse at top,var(--color-background),var(--color-background-transparent) 70%),linear-gradient(to top,var(--color-background-gradient-alt),var(--color-background-transparent));
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 6rem
}

.gradient-bottom,.gradient-top {
    background-size: 100% 12rem;
    background-size: 100% var(--background-gradient-height)
}

.gradient-top {
    background-image: radial-gradient(ellipse,#fff,hsla(0,0%,100%,0) 70%),linear-gradient(180deg,#f0f4f8,hsla(0,0%,100%,0));
    background-image: radial-gradient(ellipse,var(--color-background),var(--color-background-transparent) 70%),linear-gradient(to bottom,var(--color-background-gradient-alt),var(--color-background-transparent));
    background-position: top,0 0;
    background-repeat: no-repeat,no-repeat;
    padding-top: 6rem
}

@media (max-width: 49.9375em) {
    .content-conditional[data-context=wide] {
        display:none
    }
}

@media (min-width: 50em) {
    .content-conditional[data-context=narrow] {
        display:none
    }
}

.form input[type=email],.form input[type=search],.form input[type=text],.form textarea {
    background-color: #fff;
    border: none;
    border-radius: .75rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 .125rem rgba(0,0,0,.15);
    box-shadow: var(--field-shadow);
    color: #53565c;
    line-height: 2.375rem;
    margin-top: .0625rem;
    outline: transparent;
    padding: 0 .75rem;
    transition: box-shadow .2s ease-in-out
}

.form input[type=email]:focus,.form input[type=search]:focus,.form input[type=text]:focus,.form textarea:focus {
    box-shadow: 0 0 0 .125rem rgba(0,0,0,.15),-.125rem -.125rem 1rem rgba(239,71,101,.5),.125rem .125rem 1rem rgba(255,154,90,.5);
    box-shadow: var(--field-focus-shadow)
}

.form input[type=search] {
    -webkit-appearance: textfield
}

.form input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

.form input:-webkit-autofill,.form input:-webkit-autofill:active,.form input:-webkit-autofill:focus,.form input:-webkit-autofill:hover {
    box-shadow: inset 0 0 0 1000px #fff
}

.form input,.form textarea {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    width: 20rem
}

.form input[disabled],.form textarea[disabled] {
    background: #fff
}

.form .field {
    margin: 1rem 0
}

.form .field>label {
    display: inline-block;
    margin-bottom: .5rem
}

.form .line input,.form .line textarea {
    display: inline-block;
    min-width: auto
}

.form .line .field+.field {
    margin-left: .5rem
}

.form textarea {
    min-height: 10rem;
    resize: vertical
}

.form .spinner {
    margin-right: .5rem
}

.form .form-status-success {
    color: #c9ff8b
}

.form .form-status-error {
    color: #f67878
}

.form [class*=form-status] {
    display: none
}

.form[data-state=busy] .form-status-busy,.form[data-state=error] .form-status-error,.form[data-state=success] .form-status-success {
    display: block
}

@media (min-width: 30em) {
    .form .line {
        display:inline-flex
    }
}

kbd {
    border: 1px solid;
    border-radius: .25rem;
    box-shadow: 0 .125em 0 currentColor;
    color: var(--color-code-inline-text);
    font-size: .75em;
    font-weight: 600;
    padding: .125em .25em;
    position: relative;
    top: -.125em
}

.hero {
    padding: 1rem 0 0;
    /* padding: var(--page-header-height) 0 0 */
}

button[data-module=HeroDemoMobile] {
    align-items: center;
    display: none;
    transition: color .25s,background-color .25s
}

button[data-module=HeroDemoMobile] svg {
    height: .75rem;
    margin-left: .5rem;
    margin-right: -.25rem;
    width: .75rem
}

.js button[data-module=HeroDemoMobile][data-state=loading] {
    background-color: transparent;
    color: transparent;
    position: relative
}

.js button[data-module=HeroDemoMobile][data-state=loading]:after {
    background-color: transparent;
    color: #70737b;
    color: var(--color-text-dim);
    content: "Loading demo…";
    position: absolute
}

@media (max-width: 32em) {
    button[data-module=HeroDemoMobile] {
        display:inline-flex
    }
}

.hero-intro {
    /* margin-top: 2em; */
    text-align: center
}

.hero-intro h1 {
    font-size: 2.25em;
    letter-spacing: -.030625em;
    line-height: 1.15;
    margin: 0 auto;
    max-width: 40rem
}

.hero-intro p {
    color: #53565c;
    color: var(--color-text);
    margin: 1rem auto;
    max-width: 506rem
}

.hero-intro p:last-of-type {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin-top: 1.5em
}

.hero-intro p:last-of-type a {
    font-size: .875em
}

.hero-intro p:last-of-type a,.hero-intro p:last-of-type button {
    margin: .25rem
}

.hero-intro p:last-of-type>span {
    margin-left: 1.5em;
    margin-top: .5em
}

@media (max-width: 31.9375em) {
    .hero .demo-test-indicator {
        display:none
    }
}

@media (max-width: 32em) {
    .radio-sets {
        display:none
    }
}

@media (max-width: 50em) {
    .radio-sets {
        display:none
    }
}

.button {
    border: none;
    border-radius: .75rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inline-block;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-decoration: none;
    white-space: nowrap
}

.button-m {
    font-size: .875em
}

.button-cta {
    background: linear-gradient(to bottom right,#ef4765,#ff9a5a);
    background: var(--color-brand-gradient);
    color: #fff;
    font-weight: 500;
    transition: box-shadow .2s ease-in-out
}

.button-cta:not([disabled]):focus,.button-cta:not([disabled]):hover {
    box-shadow: 0 0 .25rem hsla(0,0%,100%,.5),-.125rem -.125rem 1rem rgba(239,71,101,.5),.125rem .125rem 1rem rgba(255,154,90,.5);
    box-shadow: var(--button-focus-shadow)
}

.button-icon {
    align-items: center;
    display: flex
}

.button-icon svg {
    margin-left: -.25em;
    margin-right: .5rem;
    width: 1em
}

.button:not(.button-cta) {
    background: #ebecef;
    background: var(--color-button-background);
    color: #54565c;
    color: var(--color-button-text)
}

.button[disabled] {
    background: #54565c;
    background: var(--color-button-text);
    color: #ebecef;
    color: var(--color-button-background)
}

.check {
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    height: 1.25rem;
    width: 1.25rem
}

.features {
    list-style: none;
    margin: 1em 0;
    padding: 0
}

.feature {
    margin-bottom: 2rem;
    margin-right: 2rem;
    max-width: 30rem;
    padding-left: 3.5rem;
    position: relative
}

.feature span {
    align-items: center;
    background: linear-gradient(to bottom right,#ef4765,#ff9a5a);
    background: var(--color-brand-gradient);
    border-radius: .75rem;
    border-radius: var(--border-radius);
    color: #fff;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 2.5rem
}

.feature h3,.feature p {
    margin: 0
}

.feature h3 {
    margin-bottom: .5rem
}

.feature p {
    color: #70737b;
    color: var(--color-text-dim)
}

.feature svg {
    width: 1.25rem
}

.feature-summary {
    color: #70737b;
    color: var(--color-text-dim);
    padding: 0
}

.feature-summary li {
    padding-left: 3.5rem
}

@media (min-width: 40em) {
    .feature-summary:not([hidden]),.features {
        display:flex;
        flex-wrap: wrap
    }

    .feature-summary:not([hidden]) li,.features li {
        width: 50%
    }
}

@media (min-width: 60em) {
    .feature-summary:not([hidden]) li,.features li {
        width:33.333%
    }
}

@media (min-width: 70em) {
    .feature-summary:not([hidden]),.features {
        margin-left:-3.5em;
        margin-right: -3.5em
    }
}

.editor {
    border: 2px solid #dadee6;
    border: 2px solid var(--editor-border-color);
    border-radius: .75rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    min-height: 34.75rem;
    padding: 2.25rem .5rem .5rem 0;
    position: relative
}

.editor>svg {
    color: #d6dae2;
    color: var(--editor-dot-color);
    left: 1rem;
    position: absolute;
    top: 1rem
}

@media (min-width: 50em) {
    .editor {
        flex-direction:row;
        max-height: 70vh
    }

    .snippet {
        height: 100%;
        padding: .5rem 0 0
    }
}

@media (min-width: 70em) {
    .editor {
        margin-left:-4rem;
        margin-right: -4rem
    }
}

.logo {
    background-image: url(./logo.svg);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    display: inline-block;
    height: 2.25rem;
    width: 6.25rem
}

@media (color-index: 48) {
    .logo {
        background-image:url(../assets/logo-inv.svg)
    }
}

@media (prefers-color-scheme: dark) {
    .logo {
        background-image:url(../assets/logo-inv.svg)
    }
}

.logo-link {
    align-items: center;
    display: flex;
    font-weight: 400;
    text-decoration: none
}

.logo-link span:first-of-type {
    color: transparent
}

.logo-link span:last-of-type {
    color: #53565c;
    color: rgb(var(--color-text-link-landing));
    font-size: .61255rem;
    font-weight: 600;
    line-height: 2;
    margin: .375rem 0 0 .375rem
}

header>.content-limit {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 4rem;
    min-height: var(--page-header-height);
    padding: 0 1rem
}

@media (min-width: 40em) {
    .page-footer>div {
        display:flex
    }

    .page-footer>div>div:first-of-type {
        flex: 1
    }

    .nav-sitemap {
        display: flex;
        flex: 3;
        margin-left: 2em
    }

    .nav-sitemap div {
        flex: 1
    }

    .nav-sitemap div+div {
        margin-left: 2em
    }
}

@-webkit-keyframes dot {
    0%,80%,to {
        transform: scale(0)
    }

    40% {
        transform: scale(1)
    }
}

@keyframes dot {
    0%,80%,to {
        transform: scale(0)
    }

    40% {
        transform: scale(1)
    }
}